<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="courseSideBar" id="courseSideBar" th:fragment="courseSideBar" th:object="${s}">
    <a class="closebtn" href="javascript:void(0)" onclick="closeCourseSideBar()">&times;</a>

    <div class="container" th:with="i=${1}">
        <div class="row">
            <div class="btn-group-toggle ml-3 mr-3" data-toggle="buttons">
                <label class="btn btn-warning">
                    <i class="fa fa-check">&#x2714;</i>
                    <input type="checkbox">
                </label>
            </div>

            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-warning">
                    <i>	&#x1F7CA;</i>
                    <input type="checkbox">
                </label>
            </div>
        </div>

        <h4 th:text="${s.get(i).subjectCode}"></h4>
        <h4 th:text="${s.get(i).number}"></h4>
        <h4 th:text="${s.get(i).title}"></h4>
        <h5>Description:</h5>
        <p th:text="${s.get(i).description}"></p>
    </div>
</div>

</body>
</html>