<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav th:fragment="navbar" id="navbar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/home">Home</a>
        <a href="/schedule">Schedule</a>
        <a href="#">My Courses</a>
        <a href="#">My Degrees</a>
        <a href="/catalogue">Catalogue</a>
        <a href="/faq">FAQ</a>
    </nav>

    <div th:fragment="navBtn">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>

</body>
</html>