<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

</head>
<body>

    <form th:fragment="searchForm" action="#" th:action="@{/catalogue}" th:object="${searchForm}" method="post">
        <input type="text" th:field="*{searchStr}" placeholder="Search..."/>

        <label for="level">Search by Course Level:</label>
        <select name="level" th:field="*{yearLvl}" >
            <option value="100">100-level</option>
            <option value="200">200-level</option>
            <option value="300">300-level</option>
            <option value="400">400-level</option>
            <option value="000" selected>All Levels</option>
        </select>
        <button id="searchBtn" class="button" type="submit">&#x1f50d;</button>
    </form>

</body>
</html>