<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course Catalogue</title>

    <link rel="stylesheet" type='text/css' th:href="@{css/site.css}">
    <link rel="stylesheet" type='text/css' th:href="@{css/signIn.css}">
    <link rel="stylesheet" type='text/css' th:href="@{css/navbar.css}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Course Catalogue</h1>

</body>
</html>