<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type='text/css' th:href="@{css/site.css}">
    <link rel="stylesheet" type='text/css' th:href="@{css/navbar.css}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    <title>My Degrees</title>
</head>
<body>

<h1>My Saved Degrees</h1>

<h2>Here's where you'll view your saved degrees that you have favourited</h2>

<div th:insert="fragments/navbar :: navBtn"></div>
<div th:insert="fragments/navbar :: navbar"></div>

<script th:src="@{js/navbar.js}"></script>

</body>
</html>