<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" type='text/css' th:href="@{css/site.css}">
    <link rel="stylesheet" type='text/css' th:href="@{css/signIn.css}">
    <link rel="stylesheet" type='text/css' th:href="@{css/navbar.css}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

</head>

<body>

<h1>Welcome!</h1>

<p> This website is an easy look up tool when choosing classes at the U of S</p>
<p> It also will provide a scheduler tool for planning out your week!</p>
<div th:insert="fragments/signIn :: signBtn"></div>
<div th:insert="fragments/signIn :: signInModal"></div>

<div th:insert="fragments/navbar :: navBtn"></div>
<div th:insert="fragments/navbar :: navbar"></div>

<script th:src="@{js/signIn.js}"></script>
<script th:src="@{js/navbar.js}"></script>
</body>
</html>