h1, h2{
    text-align: center;
}

h5 {
   /* border-bottom: 1px solid #e6e6e6 */
}
p {
    width: 600px;
    padding-left: 10px;
}

.button {
    cursor: pointer;
    background-color: #0b6a41;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color: #11a263;
}